.box {
    border: 5px solid rebeccapurple;
    background-color: lightgray;
    padding: 40px;
    margin: 40px;
    width: 300px;
    height: 150px;
  }
  
  .alternate {
    box-sizing: border-box;
    /* width here must be (5 + 5 + 40 + 40 + 300) = 390px */
    width: 390px;
  }